---
layout: default
---
<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">
        <h2 class="mb-4">{{ page.title }}</h2>
        {{ content }}

        {% assign author = site.data.authors.authors | find: "id", page.relation %}
        <div class="about-author d-flex py-5">
          <div class="bio align-self-md-center mr-5">
            <img src="{{ author.thumbnail }}" alt="Image placeholder" class="img-fluid mb-4">
          </div>
          <div class="desc align-self-md-center">
            <h3>{{ author.name }}</h3>
            <p>{{ author.description }}</p>
          </div>
        </div>
      </div> <!-- .col-md-8 -->
    </div>
  </div>
</section> <!-- .section -->
